export COMPOSE_PROFILES=subql-cfg
export DB_USER=postgres
export DB_PASS=postgres
export DB_DATABASE=postgres
export DB_HOST=localhost
export DB_PORT=5432
export SUBQL_DB_USER=$DB_USER
export SUBQL_DB_PASS=$DB_PASS
export CHAIN_ID="centrifuge-cfg"