name: SubQL Deploy

# **What it does**: This action deploys to subql

on:
  push:
    branches:
      - main
      - release-*
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  subql_deploy_embrio_staging:
    if: ${{ github.repository == 'embrio-tech/centrifuge-subql'}}
    name: Deploy to SubQL (CENTRIFUGE staging)
    strategy:
      matrix:
        chainId: [demo] # ADD ARRAY OF CHAINS TO DEPLOY
    uses: ./.github/workflows/subql_deploy_workflow.yaml
    with:
      chainId: ${{ matrix.chainId }}
      projOrg: centrifuge
      projImage: https://centrifuge.io/static/bfb7682cb6ed4aa422d9d2c90cd9351a/centrifuge-logomark-black.svg'
      deploymentType: stage
      resetProject: false
    secrets:
      accessToken: ${{ secrets.SUBQL_ACCESS_TOKEN }}
      ethNodeApiKey: ${{ secrets.ETH_NODE_API_KEY }}

  subql_deploy_centrifuge_staging:
    if: ${{ github.repository == 'centrifuge/pools-subql' && github.ref_name == 'main' }}
    name: Deploy to SubQL (CENTRIFUGE staging)
    strategy:
      matrix:
        chainId: [development, demo] # ADD ARRAY OF CHAINS TO DEPLOY
    uses: ./.github/workflows/subql_deploy_workflow.yaml
    with:
      chainId: ${{ matrix.chainId }}
      projOrg: centrifuge
      projImage: 'https://centrifuge.io/static/bfb7682cb6ed4aa422d9d2c90cd9351a/centrifuge-logomark-black.svg'
      deploymentType: primary
      resetProject: true
    secrets:
      accessToken: ${{ secrets.SUBQL_ACCESS_TOKEN }}
      ethNodeApiKey: ${{ secrets.ETH_NODE_API_KEY }}

  subql_deploy_centrifuge_production:
    if: ${{ github.repository == 'centrifuge/pools-subql' && startsWith(github.ref_name, 'release-') }}
    name: Deploy to SubQL (CENTRIFUGE mainnet)
    strategy:
      matrix:
        chainId: [centrifuge] # ADD ARRAY OF CHAINS TO DEPLOY
    uses: ./.github/workflows/subql_deploy_workflow.yaml
    with:
      chainId: ${{ matrix.chainId }}
      projOrg: centrifuge
      projImage: 'https://centrifuge.io/static/bfb7682cb6ed4aa422d9d2c90cd9351a/centrifuge-logomark-black.svg'
      deploymentType: stage
      resetProject: false
    secrets:
      accessToken: ${{ secrets.SUBQL_ACCESS_TOKEN }}
      ethNodeApiKey: ${{ secrets.ETH_NODE_API_KEY }}
