name: 'Test'
on:
  pull_request:
    branches:    
      - main

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build:
    name: 'Check Build'
    runs-on: ubuntu-latest
    env:
      SUBQL_INDEXER_VERSION: v1.21.1
      SUBQL_QUERY_VERSION: v1.11.0
      CHAIN_ID: development
    steps:
      - name: Check out repo's default branch
        uses: actions/checkout@v3
      - name: Generate new project.yaml
        run: yq ". *= load(\"chains/$CHAIN_ID.yaml\")" chains/base.yaml > project.yaml
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      - name: Setup Yarn
        run: yarn install --frozen-lockfile
      - name: Codegen
        run: yarn codegen
      - name: Build
        run: yarn build

  lint:
    name: 'Run Linter'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v3
      - name: Initialise project.yaml
        run: cp chains/base.yaml project.yaml
      - name: 'Setup Node'
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: 'Install Dependencies'
        run: yarn install
      - name: 'Generate Entities'
        run: yarn codegen
      - name: 'Run Linter'
        run: yarn lint
  test:
    name: 'Run Tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v3
      - name: Initialise project.yaml
        run: cp chains/base.yaml project.yaml
      - name: 'Setup Node'
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: 'Install Dependencies'
        run: yarn install
      - name: 'Generate Entities'
        run: yarn codegen
      - name: 'Run Tests'
        run: yarn test
